/* General styling */

/* import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--ist-blue: #009bde;
}

body {
	overflow-wrap: break-word;
	font-family: 'Roboto', sans-serif, 'Apple Color Emoji' !important;
	text-align: justify;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-brand img {
	height: 2em;
	width: auto;
}

.pet-list-table {
	min-width: 60%;
}

img.pet-list-image {
	height: 5em;
	width: auto;
}

.fake-anchor {
	cursor: pointer;
}

.btn-group.highlight-middle-btn :first-child, .btn-group.highlight-middle-btn :last-child {
	z-index: 1 !important;
}

.btn-group.highlight-middle-btn :not(:first-child):not(:last-child) {
	z-index: 2 !important;
}

.btn-group.highlight-middle-btn :first-child:hover, .mid :last-child:hover {
	z-index: 3 !important;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
}

.separator::before, .separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid var(--bs-secondary);
}

.separator:not(:empty)::before {
	margin-right: .25em;
}

.separator:not(:empty)::after {
	margin-left: .25em;
}