{% extends 'DEIPet/layout.html' %}
{% load static %}

{% block title %}Adicionar Novo Animal{% endblock %}

{% block content %}
<form id="createPetForm" method="post" action="{% url 'DEIPet:create-pet' %}" autocomplete="off">
	<div class="d-flex justify-content-center mb-3">
		<div class="form-floating w-auto">
			<input type="text" class="form-control w-auto" id="petName" name="petName" placeholder="Bobi"
				aria-describedby="petNameLabel" required value="{{ pet_name|default:'' }}">
			<label for="petName" id="petNameLabel">Nome</label>
		</div>
	</div>
	<div>
		<label id="petImageUrlsLabel">Imagens</label>
		<textarea class="d-none" name="petImageUrls" id="petImageUrlsRealInput" required
			aria-describedby="petImageUrlsLabel">{{ pet_image_urls|default:''|join:newline }}</textarea>
		<div class="container-md border border-light border-3 rounded shadow">
			<div id="petImageUrlsContainer" class="row row-cols-2 row-cols-md-4 row-cols-lg-6 justify-content-around">
			</div>
		</div>
		<div class="row justify-content-around mt-3">
			<div class="col">
				<button type="button" class="btn btn-success" id="addPetImageBtn">Adicionar Imagem</button>
			</div>
			<div class="col">
				<a href="{% url 'DEIPet:index' %}" class="link-danger me-2">Cancelar</a>
				<button type="submit" id="createPetSubmitBtn" class="btn btn-primary">Criar Animal</button>
			</div>
		</div>
	</div>
</form>
<div class="modal fade" id="addPetImageModal" tabindex="-1" aria-hidden="true" aria-labelledby="addPetImageModalLabel">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addPetImageModalLabel">Adicionar Imagem</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button></button>
			</div>
			<div class="modal-body">
				<div class="form-floating">
					<input type="url" class="form-control" id="addPetImageUrl" placeholder="https://example.com"
						aria-describedby="addPetImageUrlLabel" required>
					<label for="addPetImageUrl" id="addPetImageUrlLabel">URL de Imagem</label>
				</div>
				<button type="button" disabled class="btn btn-primary mt-3" id="addPetImageSubmitBtn">Adicionar</button>
				<div class="separator my-3">ou</div>
				<div>
					<label for="addPetImageFile" id="addPetImageFileLabel" class="form-label">Faça <i>upload</i> de uma
						imagem</label>
					<input class="form-control" type="file" id="addPetImageFile" accept="image/*"
						aria-describedby="addPetImageFileLabel">
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'DEIPet/scripts/create_pet.js' %}">
	</script>
	{% endblock %}