{% extends 'DEIPet/layout.html' %}
{% load static %}

{% block title %}Adicionar Novo Animal{% endblock %}

{% block content %}
<form method="post" action="{% url 'DEIPet:create-pet' %}" autocomplete="off">
	<div class="d-flex justify-content-center mb-3">
		<div class="form-floating w-auto">
			<input type="text" class="form-control w-auto" id="petName" name="petName" placeholder="Bobi"
				aria-describedby="petNameLabel" required value="{{ pet_name|default:'' }}">
			<label for="petName" id="petNameLabel">Nome</label>
		</div>
	</div>
	<div>
		<label id="petImageUrlsLabel">Imagens</label>
		<textarea class="d-none" name="petImageUrls" id="petImageUrlsRealInput" required
			aria-describedby="petImageUrlsLabel">{{ pet_image_urls|default:''|join:newline }}</textarea>
		<div class="container-md border border-light border-3 rounded shadow">
			<div id="petImageUrlsContainer" class="row row-cols-2 row-cols-md-4 row-cols-lg-6 justify-content-around">
			</div>
		</div>
	</div>
</form>
<script src="{% static 'DEIPet/scripts/create_pet.js' %}"></script>
{% endblock %}