{% extends 'DEIPet/base.html' %}

{% block title %}Animais de Estimação{% endblock %}

{% block content %}
<h1>Animais de Estimação</h1>

<div class="table-responsive">
	<table class="table table-striped table-hover align-middle">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Imagem</th>
			</tr>
		</thead>
		<tbody>
			{% for pet in pets %}
			<tr class="fake-anchor" data-fa-href="https://google.com">
				<th scope="row">{{ pet.id }}</th>
				<td>{{ pet.name }}</td>
				<td>
					<img src="{{ pet.imageUrls.0 }}" class="rounded pet-list-image" alt="{{ pet.name }}">
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}